.tile{
    border-radius: 10px;
    padding: 10px;
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    
}
.container{
    width: 100%;
    display: flex;
}
.top{
    display: flex;
}

.custom-carousel {
    width: 600px; 
    margin: 0 auto; 
  }



  .custom-carousel .carousel-control-prev,
  .custom-carousel .carousel-control-next {
    background-color: rgb(196, 196, 196); 
    border-color: rgb(196, 196, 196); 
  }
  .sideBar{
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

  }
  .row{
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}